footer{
    height:10vh;
    display: flex;
    justify-content: space-between;
    background-color: palevioletred;

    li{
        display: inline;
        //background-color: bisque;
        margin: 10px;
    }

    #footer-text{
        font-size: 15px;
        margin: 10px;
    }

    #footer-list{
        text-transform: capitalize;
        font-size: large;
    }
}